#section1{
  background-color: red;
  height: 800px;
}
#section2{
  background-color: blue;
  height: 800px;
}
#section3{
  background-color: green;
  height: 800px;
}
#section4{
  background-color: orange;
  height: 800px;
}
